<div class="container-fluid mt-5">
  <div class="row">
    <div class="map col-md-10">
         <div leaflet style="height: 60vh;"
         [leafletOptions]="options"
         [leafletLayers]="layers"
         [leafletMarkerCluster]="data"
         [leafletMarkerClusterOptions]="markerClusterOptions">
    </div>
      <div style="text-align: center; margin-top: 20px; margin-bottom: 20px">
        <button [disabled]="!basicCollapse.collapsed"
                class="btn btn-primary btn-sm"
                (click)="basicCollapse.toggle(); this.show=!this.show;onChange(value)"
                role="button"
                [attr.aria-expanded]="basicCollapse.collapsed"
                aria-controls="collapseExample">Yearly View</button>
        <button [disabled]="basicCollapse.collapsed"
                class="btn btn-primary btn-sm"
                type="button"
                (click)="basicCollapse.toggle(); onClick()"
                [attr.aria-expanded]="!basicCollapse.collapsed"
                aria-controls="collapseExample">Total View</button>

        <div class="mt-3" id="collapseExample" [collapsed]="toggleBoolean" mdbCollapse #basicCollapse="mdbCollapse" >
          <div *ngIf="loaded" style="width: 50%; margin: auto;">
            <ngx-slider [(value)]="value" (valueChange)="onChange($event)" [options]="sliderOptions"></ngx-slider>
          </div>
        </div>
    </div>
  </div>
    <div class="col-md-2 bg-light d-flex flex-wrap overflow-x-scroll" style="max-height: 60vh;">
      <div class="sticky-top bg-light text-center" *ngIf="exhibitions.length!>0" style="width:100vw">
        <p *ngIf="year==null" class="fw-bold"><small>Exhibitions in {{exhibitions[0].locations[0].city}}</small></p>
        <p *ngIf="year!=null" class="fw-bold"><small>Exhibitions in {{exhibitions[0].locations[0].city}}, {{year}}</small></p>
      </div>
      <div class="align-self-center" *ngIf="exhibitions.length===0">
        <p class="fs-10 fw-lighter font-italic">No exhibitions selected</p>
      </div>
      <div class="overflow-y-scroll text-center">
        <app-exhibitions-list [exhibitions]="this.exhibitions"></app-exhibitions-list>
      </div>
  </div>
  </div>
</div>

