<div class="modal-header">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body text-center" style="max-height: 500px; overflow-y: auto">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Artists</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let artist of artists">
      <td>{{artist.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modalRef.close()">Close
  </button>
</div>
