<div class="form-check">
     <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="ColorNodes"
        id="flexRadioDefault1"
        [checked]="true"
        (change)="network.colorDefault();"
      />
      <label class="form-check-label" for="flexRadioDefault1">Default</label>
</div>
<div class="form-check" *ngIf="this.current.length>0">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="ColorNodes"
        id="flexRadioDefault2"
        (change)="network.colorByNationality();"
      />
      <label class="form-check-label" for="flexRadioDefault2"> By Nationality </label>
</div>
<div class="form-check" *ngIf="this.current.length>0">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="ColorNodes"
        id="flexRadioDefault3"
        (change)="network.colorBySex();"
      />
      <label class="form-check-label" for="flexRadioDefault3"> By Sex </label>
</div>
